<div class="container">

    <div class="grid-letter mt-5">
      <% @letters.each do |letter| %>
        <div class="letter d-flex">
          <p><%= letter.upcase %></p>
        </div>
      <% end %>
    </div>

<%= simple_form_for(@game) do |game_form| %>

  <%= game_form.simple_fields_for @party do |f| %>
    <%= f.input :word,
    label: "Rentrer votre mot"%>
  <% end %>

  <%= game_form.button :submit, 'Jouer' %>

<% end %>



</div>
